region = ""
keyfile = ""
domain = ""
email = ""
cloudflare_api_token = ""
agent0 = ""
agent1 = ""
agent2 = ""
ec2_public_key = ""
ec2_private_key = ""
agent0_public_key = ""
agent1_public_key = ""
agent2_public_key = ""